<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Editar</title>
</head>
<body>
    <h1>Editar Evento</h1>
    <a href="/eventos">Inicio</a>
    <a href="/logout"> Cerrar Sesión</a>

    <form action="/actualizar" method="post">
        <input type="hidden" name="id" value="{{datos.id}}">

        <label>Nombre Evento:</label>
        <input type="text" name="nombre_evento" value="{{datos.nombre_evento}}" required><br>
        <label>Ubicación:</label>
        <input type="text" name="ubicacion" value="{{datos.ubicacion}}" required><br>
        <label>Fecha:</label>
        <input type="date" name="fecha" value="{{datos.fecha}}" required><br>
        <label>Detalles:</label>
        <textarea name="detalles" id="detalles" required>{{datos.detalles}}</textarea><br>

        <button type="submit">Editar Evento</button>
    </form>

    {% with mensajes = get_flashed_messages(category_filter=['crear_evento']) %}
        {% if mensajes  %}
            <ul style="color:red">
                {% for mensaje in mensajes%}
                    <li>{{mensaje}}</li>
                {% endfor %}
            </ul>
        {% endif %}
    {% endwith %}
</body>
</html>