<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Resumen Pedido</title>
</head>
<body>
    <h1>Resumen Pedido</h1>
    <ul>
        <li>
           Fresas - {{session.fresas}} 
        </li>
        <li>
           Frambuesas - {{session.frambuesas}} 
        </li>
        <li>
           Manzanas - {{session.manzana}} 
        </li>
        <li>
           Nombre - {{session.nombre}} 
        </li>
        <li>
           Apellido - {{session.apellido}} 
        </li>
        <li>
           Email - {{session.email}} 
        </li>

    </ul>

</body>
</html>